.sidebar{
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0px;
    width: 85px;
    z-index: 200;
    padding-top: 5px;
    background-color: white;
}
.sidebar-link{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(242, 242, 242);

}
.sidebar img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar div{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}